<div class="modal" tabindex="-3" id="modaldel">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" style="font-family:Arial, Helvetica, sans-serif;font-weight: bold;">Delete</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть" @onclick="async _ => await CloseModal()" 
          style="background-color: red;"></button>
        </div>
        <div class="modal-body">
          <p style="font-family:Arial, Helvetica, sans-serif;font-weight: bold;">Are you sure?</p>
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" data-bs-dismiss="modal" @onclick="async _ => await PushOk()">OK</button>
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal" @onclick="async _ => await CloseModal()">Cancel</button> 
        </div>
      </div>
    </div>
  </div>

@code {

    [Parameter]
    public Func<Task> CloseModal { get; set; }
    [Parameter]
    public Func<Task> PushOk { get; set; }
}
